.heading {
	padding:10px 0;
	position:fixed;
	top:0;
	background-color:inherit;
	border-bottom:solid 1px #EFEFEF;
}

body {
	margin-top:100px;
}

.content {
   transition:all 1s ease;
}

.content:hover {
   color:darkred;
}

.icon {
   display:none;
   position:fixed;
   top:20px;
   right:50px;
   cursor:pointer;
}

.icon img {
   width:30px;
}
